<footer class="footer">

    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="~/Content/theme/img/logo.png" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Đừng ngần ngại gọi cho chúng tôi khi bạn cảm thấy bất thường trong cơ thể</p>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Mục bệnh nhân</h2>
                        <ul>
                            <li><a href="/docter">Tìm kiếm bác sĩ</a></li>
                            <li><a href="/admin/login">Đăng nhập</a></li>
                            <li><a href="/admin/login">Đăng ký</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Mục bác sĩ</h2>
                        <ul>
                            <li><a href="/appointments">Đặt lịch hẹn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Liên hệ với chúng tôi</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p> 828 Đ. Sư Vạn Hạnh, Phường 12, <br> Quận 10, Thành phố Hồ Chí Minh </p>
                            </div>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                +84 909 54 55 38
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-envelope"></i>
                                <a href="https://doccure-html.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="91f5fef2f2e4e3f4d1f4e9f0fce1fdf4bff2fefc">[email&#160;protected]</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container-fluid">

            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; @DateTime.Now.Year Powered by HUFLITer.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">

                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a href="#">Điều khoản</a></li>
                                <li><a href="#">Chính sách</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>