@using BELibrary.Entity
@using HospitalManagement.Handler
<!-- Header ================================================== -->
@{
    var user = CookiesManage.GetUser() ?? new Account();
}

<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="/" class="navbar-brand logo">
                <img src="~/Content/theme/img/logo.png" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a href="/" class="menu-logo">
                    <img src="~/Content/theme/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li>
                    <a href="/">Trang Chủ </a>
                </li>
                <li class="has-submenu">
                    <a href="#">Bác sĩ <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="/doctor">Tìm kiếm bác sĩ</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">Nhà thuốc <i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li><a href="/pharmacy">Tìm kiếm nhà thuốc</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/article">Blog  </a>
                </li>
            </ul>
        </div>
        <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item">
                <div class="header-contact-img">
                    <i class="far fa-hospital"></i>
                </div>
                <div class="header-contact-detail">
                    <p class="contact-header">Liên hệ với chúng tôi</p>
                    <p class="contact-info-header"> +84 909 54 55 38</p>
                </div>
            </li>
            @if (!CookiesManage.Logined())
            {
                <li class="nav-item">
                    <a class="nav-link header-login" href="/account/login">Đăng nhập / Đăng ký </a>
                </li>

            }
            else
            {
                <li><a href="/account"><i class="fa fa-user" style="margin-right: 8px"> @user.FullName</i></a></li>
                <li><a href="/account/logout"><i class="fa fa-sign-out" style="margin-right: 8px"> Đăng xuất</i></a></li>
            }
        </ul>
    </nav>
</header>
<!-- End Header -->