@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">

    <!-- error-section
    ================================================== -->
    <section class="error-section">
        <div class="error-content">
            <div class="container">
                <div class="error-box-content">
                    <i class="fa fa-thumbs-down"></i>
                    <h1>oops! Page not found</h1>
                    <p>
                        Trang không tìm thấy
                    </p>
                    <a href='/' class='button-one'>Go Back</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End error section -->
</div>